@import "../../index.scss";

.login {
    width: 20rem;
    margin: 7rem auto;
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 2rem $primary;

    input{
        &:first-of-type{
            margin: 0 0 0.5rem 0;
        }
    }

    button{
        font-weight: 700;
    }

    input,
    button {
        width: 100%;
        padding: 0.3rem 1rem;
        border: solid 0.15rem $primary;
        border-radius: 0.3rem;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.8;

        &:hover,
        &:focus {
            opacity: 1;
            box-shadow: 0 0 0.3rem $primary;
        }

        &[type="checkbox"] {
            width: initial;
            height: initial;
            margin: 0;
            padding: 0;
            display: none;
            cursor: pointer;
        }

        &[type="checkbox"] + label {
            position: relative;
            cursor: pointer;
        }

        &[type="checkbox"] + label:before {
            content: "";
            margin: 0.5rem 0.5rem 0.5rem 0;
            padding: 10px;
            -webkit-appearance: none;
            background-color: transparent;
            border: 2px solid $primary;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 0.3rem;
        }

        &:checked + label:after {
            content: "";
            width: 6px;
            height: 14px;
            display: block;
            position: absolute;
            top: 2px;
            left: 9px;
            border: solid $primary;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}

.toast{
    padding: 1rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    color: $light;
    letter-spacing: 0.1rem;
    background-color: $warning;
    border-radius: 0.3rem;
    transition: 0.3s;
    opacity: 0;
}